/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nav button{
  margin: 1%;
}
.nav{
  background-color: lightgrey;
  height: 80px;
}

.logo{
  
  margin: 2%;
}
